.tab {
	display: flex;
	background-color: rgba(113, 157, 196);
}

.tab .buttonStyle {
    border: none;
    border-right: 1px solid black;
	outline: none;
	padding: 10px;
	transition-duration: 0.6s;
	min-width: 20%;	
	font-size: 1.3rem;
	background-color: rgba(113, 157, 196);
}

.buttonStyle.linkColor {
	background-color: rgb(190,190,235);
	border-top: 1px solid black;
}

.buttonStyle:hover {
	background-color: rgb(87, 147, 201);
	cursor: pointer;
}

.tabContent {
	padding: 15px;
	text-align: justify;
	line-height: 1.4;
	background-color: rgb(249, 249, 255);
	border-bottom: 1px solid black;
	height: 25vh;
	overflow: auto;
}

.show {
    display: block;
}

.hide {
    display: none;
}